//  colors:
$colorTxt: whitesmoke;
$colorBkgHTML: lightgray;

$color1: #0d1b1f;
$color2: #4db8d6;
$color3: #de5555;
$color4: #54b4ec;
$color5: #f5f5f5;
$color7: #1782d2;
$color8: #43daf9;
$color9: #3b6290;
$color16: #2a2d34;
$color19: rgba($color1, 0.8);
$color20: rgba(255, 0, 0, 0.589);

// box-shadow:
$boxShadow: 0 0.3rem 0 $color9, 0 0.3rem 1.5rem rgba($color1, 0.2),
  inset 0 0.1rem 0 rgba($color9, 0.2), inset 0 0 0.3rem rgba($color9, 0.2);

$box-shadow_1: 0 0.5rem 0.5rem -0.3rem rgb(0 0 0 / 20%),
  0 0.6rem 1rem 0.1rem rgb(0 0 0 / 14%), 0 0.3rem 1.4rem 0.2rem rgb(0 0 0 / 12%);

$boxShadow_2: rgba(0, 0, 0, 0.35) 0px 5px 15px;

// fonts-sizes:
$fontLarge: 1.6rem;
