.Container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 2rem;
  padding: 2rem;
  font-size: $fontLarge;

  .Controls {
    display: grid;
    grid-area: 1 / 1 / 1 / 3;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 0fr);
    grid-gap: 2rem;
  }

  .List {
    grid-area: 1 / 3 / 1 / 6;
  }
}
